<div class='post-card'>
		<h3 class='post-title'><%= post.title, user_post_path(@user.id, post) %></h3>
		<p><%= post.text %></p>
		<div class='likes-comments'>
		  <p>Comments: <%= post.comments_counter%> </p>
		  <p>Likes: <%= post.likes_counter%> </p>
		</div>