@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.comments-form-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.comments-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.add-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.add-comment textarea {
  height: 3rem;
  width: 15rem;
}

.submit-comment {
  color: white;
  background-color: #20a7db;
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-comment:hover {
  background-color: #1c96c5;
}
